<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conexionTSD"
			 connectionString="Server=172.16.10.22;Database=TSD;User Id=tecni;Password=Awt2054x-#;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="conexionWebBuzones"
			 connectionString="Server=10.0.0.4;Database=WEBBUZONES;User Id=tecni;Password=TecX1988%*Abu;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="TenSOnlineTxnServiceServiceSoapBinding">
					<security mode="Transport"/>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="TenSOnlineTxnServiceServiceSoapBinding">
					<textMessageEncoding messageVersion="Soap12"/>
					<httpsTransport/>
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="https://uyasdmz02.uy.corp:9982/TenSOnlineTxnWS/services/tenSOnlineTxn" binding="customBinding" bindingConfiguration="TenSOnlineTxnServiceServiceSoapBinding" contract="TensStdr.TenSOnlineTxnService" name="TenSOnlineTxnServicePort"/>
		</client>
	</system.serviceModel>
</configuration>