<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conexionTSD"
			 connectionString="Server=172.16.10.20;Database=TSD;User Id=tecni;Password=Awt2054x-#;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="conexionWebBuzones"
			 connectionString="Server=10.0.0.4;Database=WEBBUZONES;User Id=tecni;Password=TecX1988%*Abu;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>