<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>C:\Users\dchiquiar.ABUDIL\Desktop\TAS FOLDER\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>

		<!-- Clave: NO archivo único -->
		<PublishSingleFile>false</PublishSingleFile>
		<!-- Copia el runtime completo -->
		<SelfContained>true</SelfContained>
		<!-- Elegí la arquitectura que uses -->
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>

		<DeleteExistingFiles>true</DeleteExistingFiles>
	</PropertyGroup>
</Project>
